body{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
.imgs  {
    
   display: flex;
    width: 500px;
   
    
    /* overflow: hidden; */
    transform:translateY(-300px);
    transition: 1s transform;
}
.show-imgs{
    transform:translateY(0);
}
.imgs .img1,.img2,.img3{
    transition: 1s transform;
    
}
.imgs .img1:hover,.img2:hover,.img3:hover{
    transform:translateY(30px);
   
}
.imgs2  {
    
   display: flex;
    width: 500px;
   
    
    /* overflow: hidden; */
    transform:translateY(-300px);
    transition: 0.5s all;
}
.show-imgs{
    transform:translateY(0);
}
.imgs2 .img12{
    transition: 1s transform;
    
}
.imgs2 .img12:hover{
    transform:translateY(30px);
   
}

      




main{
    /* background: rgb(18,162,173);
    background: linear-gradient(90deg, rgba(18,162,173,1) 0%, rgba(8,122,131,1) 35%, rgba(9,162,134,1) 100%);   */
    background-color: #B4DAF9;
}
.weather{
    display:none;
}
.city{
    color: #ffff;
    background-color: none;
}
.error{
    display: none;
}
